<!DOCTYPE html>
<html>
    <head>
    <title>Page Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> 
        <script src="https://rawgit.com/aws/amazon-cognito-identity-js/master/dist/aws-cognito-sdk.min.js"></script>
        <script src="https://rawgit.com/aws/amazon-cognito-identity-js/master/dist/amazon-cognito-identity.min.js"></script>
        <script src="https://rawgit.com/aws/amazon-cognito-identity-js/master/dist/aws-cognito-sdk.min.js"></script>
<script src="https://rawgit.com/aws/amazon-cognito-identity-js/master/dist/amazon-cognito-identity.min.js"></script>

    </head>


    <body>

    <script>
        function openAccordion(evt, sectionName) {
        // Declare all variables
        var i, tabcontent, tablinks;
        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
            }

         // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
            }

  // Show the current tab, and add an "active" class to the button that opened the tab
  document.getElementById(sectionName).style.display = "block";
  evt.currentTarget.className += " active";
}
</script>


        <form method="POST" action="/LoginPage">
        <div class="sf_cols container-fluid c19-banner">
            <div class="sfContentBlock">
                <div>
                    <h1 class="covid-text"><a href="">MetaPhysical/Cognitive Beyond Emotions</a></h1>
                </div>
            </div>
        </div>

        <div class="tab">
            <button class="tablinks" style="width:30.33%" onclick="openAccordion(event, 'id1')">Get Help</button>
            <button class="tablinks" style="width:30.33%" onclick="openAccordion(event, 'id2')">Section 2</button>
            <button class="tablinks" style="width:30.33%" onclick="openAccordion(event, 'id3')">Section 3</button>
        </div>
        
        <div id="id1" class="tabcontent">
            <span onclick="this.parentElement.style.display= none" class="topright">&times</span>
            <h3>Get Help</h3>
            <p></p>
        </div>
        
        <div id="id2" class="tabcontent">
            <span onclick="this.parentElement.style.display='none'" class="topright">&times</span>
            <h3>Section 2</h3>
            <p></p>
        </div>
        
        <div id="id3" class="tabcontent">
            <span onclick="this.parentElement.style.display='none'" class="topright">&times</span>
            <h3>Section 3</h3>
            <p></p>
        </div>
        <div class="wrapper">
        <h2>User Page</h2>
             <div class="form-group">
                <tr><a href="https://localraj.auth.us-east-2.amazoncognito.com/logout?client_id=4a1e7lni0hfekh7abkp9cu7om8&logout_uri=http://localhost:5000" type="submit" class="linkname" class="button" id="facebookid" value="Facebook">Logout</a></tr>
            </div>
            
        </div>
    </form>
    </body>
</html>